nft-platform-backend/venv/
nft-platform-frontend/node_modules/
nft-platform-frontend/dist/
.env
.env.local
__pycache__/
*.pyc




# Database files
*.db
*.sqlite
*.sqlite3
/data/

# Miniconda environment
nft_backend/
/home/ubuntu/miniconda/



